<% include partials/header %>
	
	<div class="ui main text container segment">
		<div class="ui huge header">
			<%= foundBlog.title %>
		</div>
		<div class="ui top attached">
			<div class="item">
				<img class="ui centered rounded image" src="<%= foundBlog.image %>">
				<div class="content">
					<span><%= foundBlog.created %></span>
				</div>
				<div class="description">
					<p>
						<h3> <%- foundBlog.body %> </h3>
					</p>
				</div>
				<a href="/blogs/<%=foundBlog._id%>/edit" class="ui basic orange button">Edit</a>
				<form id="delete" action="/blogs/<%=foundBlog._id%>?_method=DELETE" method="post">
					<button class="ui red basic button">Delete</button>
				</form>
				<a href="/blogs" class="ui basic green button">Back</a>
			</div>
		</div>
	</div>


<% include partials/footer %>